/*PSEUDOCLASES*/
::selection {
  background: #28A4FA;
}

/* ETIQUETAS GENÉRICAS */
* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  padding: 15px 15px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
  margin-top: 5px;
  padding: 5px 0 8px 0;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-family: "Kanit", sans-serif;
  font-size: 19px;
  text-transform: capitalize;
  margin-bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
}

li {
  list-style: none;
  padding: 5px 5px;
  margin: 0 5px 5px 0;
  font-size: 18px;
}

p {
  font-family: "Manrope", sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  color: white;
}

input, select {
  width: 100%;
  height: 50px;
  border: 1.3px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

input:hover, select:hover {
  border: 1.3px solid #28A4FA;
}

input.criptomoneda:hover {
  border: 1.3px solid #fada28;
}

input:focus, select:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

caption {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 27px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}

button {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 12px;
  padding: 5px;
  width: 170px;
}

.azul_rojo {
  display: inline-flex;
}

/*MAIN*/

#tipoPlazoFijo {
  margin-top: 25px;
}

#resultadoSimulador{
  color: #28A4FA;
}

.simulador_seccion {
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  margin: 60px 20px 80px 20px;
  padding: 30px;
  border-radius: 10px;  
}

.simulador_seccion h2 {
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.simulador_seccion h3 {
  background-color: #28a2fa2c;
}

.simulador_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}

.simulador_div {
  margin: 10px;
  padding: 8px;
}

.resultado_simulacion p{
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
}

.resultados {
  width: 75%;
  margin-left: 40px;
}

.resultados_div {
  border: 2.5px solid #28A4FA;
  border-radius: 10px;
  margin: 30px;
  padding: 9px;
  text-align: center;
}

.resultados_div > div > span {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.minimo {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.tiposDeInteres {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.tiposDeInteres li {
  list-style: circle;
  font-size: 15px;
}

.simulador_botones {
  display: flex;
  justify-content: space-between;
}

.historial_seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 80px 70px 80px;
  padding: 40px 20px 20px 20px;
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  border-radius: 10px; 
}

.historial_seccion h2 {
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.tabla_historial {
  width: 800px;
  margin: 40px;
  padding: 20px;
}

.tabla_historial tr {
  background-color: white;
}

.tabla_responsive {
  display: none;
}

.apartado {
  padding: 5px 10px 5px 10px;
  display: grid;
  justify-items: center;
}

.divisas_seccion {
  display: grid;
  flex-direction: column;
  margin: 70px 80px 70px 80px;
  padding: 40px 20px 20px 20px;
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  border-radius: 10px;
}

.divisas_seccion h2 {
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.divisas ul {
  display: grid;
  justify-items: start;
  margin: 10px 0 20px 0;
  padding: 0;
}

.divisas_div {
  display: flex;
  width: 800px;
  justify-content: space-evenly;
}

.divisas_div li {
  padding: 10px;
  margin: 10px;
}

.up {
  color: green;
  font-weight: bold;
}

.down {
  color: red;
  font-weight: bold;
}

.tablas_seccion {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  margin: 60px 20px 80px 20px;
  padding: 30px;
  border-radius: 10px; 
}

.tablas_seccion h2 {
  margin: 25px 0 0 0;
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.tablas_seccion h3 {
  margin-top: 30px;
}

.tabla {
  margin: 0 20px 20px 20px;
  width: 100%;
  background-color: #d2d2d2;
  border-collapse: collapse;
  caption-side: top;
  border: 2px solid #28A4FA;
}

th {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

td {
  font-family: "Poppins", sans-serif;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
  background-color: rgba(212, 212, 212, 0.74);
  background-image: url("../images/stocks.png");
}

.tabla tr:hover th {
  background-color: #28a2faa2;
}

.metodos_tabla {
  display: grid;
  align-items: center;
  padding: 0px 20px 30px 20px;
  margin: 10px;
  width: 70%;
}

input#criptomoneda {
  height: 40px;
  width: 70%;
  margin-bottom: 20px;
}

/*FOOTER*/
.datos_alumno {
  font-family: "Rajdhani", sans-serif;
  display: grid;
  justify-items: center;
}

/* GRILLA PRINCIPAL */
#grilla_index {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  background-image: url(../images/stocks.png);
}

/*HEADER GRILLA*/
#header_index {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #87B9E7;
  border-bottom: 4px solid #2187E4;
}

/* MAIN GRILLA*/
#main_index {
  grid-area: main;
  margin: 20px 20px 0 20px;
}

/* FOOTER GRILLA*/
#footer_index {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #87B9E7;
  border-top: 4px solid #2187E4;
  margin-top: 20px;
}

/*MEDIA QUERIES*/

/*1200PX*/
@media screen and (max-width: 1200px) {
  .simulador_seccion, .tablas_seccion, .historial_seccion, .divisas_seccion {
    margin: 60px 30px 60px 30px;
  }
  .simulador_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .resultados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    width: 600px;
  }
  .resultados_div_img {
    display: none;
  }
  .divisas_div {
    flex-direction: column;
    align-items: center;
  }
  .divisas_seccion {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}

/*1024PX*/
@media screen and (max-width: 1024px) {
  #boton-historial, #boton-simular {
    width: 300px;
  }
  .simulador_seccion, .tablas_seccion, .historial_seccion, .divisas_seccion {
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 60px 20px 60px 20px;
  }
  .simulador_botones {
    flex-direction: column;
    align-items: center;
  }
  .resultados {
    width: 500px;
  }
  .resultados_div {
    margin: 20px;
  }
  .tabla_historial {
  width: 600px;
  margin: 30px;
  }
  .datos_alumno ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*900PX*/
@media screen and (max-width: 900px) {
  .simulador_seccion, .tablas_seccion, .historial_seccion, .divisas_seccion {
    margin: 60px 10px 60px 10px;
  }
  .resultados {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .azul_rojo {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .tabla_col {
    display: none;
  }
  .apartado {
    width: 550px;
  }
  .divisas_div {
    width: 500px;
  }
}

/*800PX*/
@media screen and (max-width: 800px) {
  .tabla_historial {
    width: 550px;
    margin: 30px;
  }
}

/*700X*/
@media screen and (max-width: 700px) {
  .tabla_historial {
    display: none;
  }
  .tabla_responsive {
    display: flex;
    border: 2px solid #28A4FA;
    justify-content: center;
    margin: 20px 0 30px 0;
  }
}

/*600PX*/
@media screen and (max-width: 600px) {
  .datos_alumno ul {
    grid-template-columns: 1fr;
  }
  .divisas_div {
    width: 300px;
  }
}

/*512PX*/
@media screen and (max-width: 512px) {
  .apartado {
    width: 300px;
    justify-content: center;
  }
}

/*480PX*/
@media screen and (max-width: 480px) {
  #boton-historial, #boton-simular, .resultados {
    width: 200px;
  }
}

/*380PX*/
@media screen and (max-width: 380px) {
  #main_index {
    margin: 0;
  }
  .tablas_seccion {
    display: none;
  }
  .divisas_div {
    width: 200px;
  }
  .divisas_div li {
    text-align: center;
  }
}




