/*PSEUDOCLASES*/
::selection {
  background: #28A4FA;
}

/* ETIQUETAS GENÉRICAS */
* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  padding: 15px 15px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
  margin-top: 5px;
  padding: 5px 0 8px 0;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-family: "Kanit", sans-serif;
  font-size: 19px;
  text-transform: capitalize;
  margin-bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
}

li {
  list-style: none;
  padding: 5px 5px;
  margin: 0 5px 5px 0;
  font-size: 18px;
}

p {
  font-family: "Manrope", sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  color: white;
}

input, select {
  width: 100%;
  height: 50px;
  border: 1.3px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

input:hover, select:hover {
  border: 1.3px solid #28A4FA;
}

input.criptomoneda:hover {
  border: 1.3px solid #fada28;
}

input:focus, select:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

caption {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 27px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}

button {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 12px;
  padding: 5px;
  width: 170px;
}

/*MAIN*/

#tipoPlazoFijo {
  margin-top: 25px;
}

#resultadoSimulador{
  color: #28A4FA;
}

.simulador_seccion {
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  margin: 60px 20px 80px 20px;
  padding: 30px;
  border-radius: 10px;  
}

.simulador_h2 {
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.simulador_h3 {
  background-color: #28a2fa2c;
}

.simulador_div {
  margin: 10px;
  padding: 8px;
}

.resultado_simulacion p{
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
}

.resultados {
  width: 75%;
  margin-left: 40px;
}

.resultados_div {
  border: 2.5px solid #28A4FA;
  border-radius: 10px;
  margin: 30px;
  padding: 9px;
  text-align: center;
}

.resultados_div > div > span {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.minimo {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.tiposDeInteres {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.tiposDeInteres li {
  list-style: circle;
  font-size: 15px;
}

.simulador_botones {
  display: flex;
  justify-content: space-between;
}

.section_historial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 80px 70px 80px;
  padding: 40px 20px 20px 20px;
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  border-radius: 10px; 
}

.tabla_historial {
  width: 800px;
  margin: 40px;
  padding: 20px;
}

.tabla_historial tr{
  background-color: white;
}

.apartado {
  padding: 5px 10px 5px 10px;
  display: grid;
  justify-items: center;
}

.tablas_h2{
  margin: 25px 0 0 0;
  border-bottom: 1.5px solid #147fe3;
  padding-bottom: 10px;
}

.tabla {
  margin: 0 20px 20px 20px;
  width: 100%;
  background-color: #d2d2d2;
  border-collapse: collapse;
  caption-side: top;
  border: 2px solid #28A4FA;
}

th {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

td {
  font-family: "Poppins", sans-serif;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
  background-color: rgba(212, 212, 212, 0.74);
  background-image: url("../images/stocks.png");
}

.tabla tr:hover th {
  background-color: #28a2faa2;
}

.metodos_h3{
  margin-top: 30px;
}

.metodos_tabla {
  display: grid;
  align-items: center;
  padding: 0px 20px 30px 20px;
  margin: 10px;
  width: 70%;
}

input#criptomoneda {
  height: 40px;
  width: 70%;
  margin-bottom: 20px;
}

/*FOOTER*/
.datos_alumno {
  font-family: "Rajdhani", sans-serif;
  display: grid;
  justify-items: center;
}

/* GRILLA PRINCIPAL */
#grilla_index {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  background-image: url(../images/stocks.png);
}

/*HEADER GRILLA*/
#header_index {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #87B9E7;
  border-bottom: 4px solid #2187E4;
}

/* MAIN GRILLA*/
#main_index {
  grid-area: main;
}

.simulador_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}

.tablas_seccion {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(243, 242, 242);
  border: 1px solid whitesmoke;
  box-shadow: -1px 1px 60px -10px rgba(0,0,0,0.72);
  margin: 60px 20px 80px 20px;
  padding: 30px;
  border-radius: 10px; 
}

/* FOOTER GRILLA*/
#footer_index {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #87B9E7;
  border-top: 4px solid #2187E4;
  margin-top: 20px;
}





