/*PSEUDOCLASES*/
::selection{
    background: $bg-hover;
}

/* ETIQUETAS GENÉRICAS */

*{
    box-sizing: border-box;
}

main{
    margin: 0 auto;
}

h1{
    font-family: "Kanit", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
    padding: 15px 15px;
}

h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 30px;
    margin: 25px 0 10px 0;
    text-align: center;
}

h3{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    text-decoration: underline;
    text-transform: uppercase;
}

ul{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0;
}

li{
    list-style: none;
    padding: 5px 5px;
    margin: 0 5px 5px 0;
    font-size: 18px;
}

p{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    padding: 2px 30px 2px 30px;
    background-color: $bg-p;
    text-align: center;
}

/*FOOTER*/

.consola_img img{
    width: 510px;
    height: 300px;
    border: 2px solid $bg-border;
}

.datos_alumno{
    font-family: 'Rajdhani', sans-serif;
    display: grid;
    justify-items: center;
}